<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'home/material-kit.css' %}"
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>

    <!-- Nav Bar at the top-->
    <nav class="navbar sticky-top navbar-expand-lg bg-dark">
     <div class="container">
		 <div>
		   <a class="navbar-brand" href="#"><b>BMSCE</b></a>
		 </div>
     <div class="collapse navbar-collapse justify-content-end" style="width: 50%">

       <a class="navbar-brand" href="#">Student Requisitions form system</a>

     </div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-bar navbar-kebab"></span>
			<span class="navbar-toggler-bar navbar-kebab"></span>
			<span class="navbar-toggler-bar navbar-kebab"></span>
		</button>

		<div class="collapse nav navbar-collapse justify-content-end" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/home/">Home </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/home/about">About<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/home/department">Departments</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/home/contactus">Contact Us</a>
			</li>
		  </ul>
		</div>
     </div>
    </nav>
<!-- End of the nav bar-->

  <section  style="background: #eeeeee;">
  <div class="container">
    <div class="row" style="margin:0px;">
      <div class=" col-lg-12 text-center">
        <h2 class="title" style="text-align:center;">Introducing the Departments...</h2></br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-text card-header-info">
            <h4 class="card-title text-center">Administrative Department</h4>
          </div>
          <div class="card-body">
            <ul>
              <li> some certificates</li>
              <li> other requests</li>
              <li>jdsbvdbjvh</li>
              <li>fees refund</li>
           </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-text card-header-info">
            <h4 class="card-title text-center">Academics Section</h4>
          </div>
          <div class="card-body">
            <ul>
              <li> some certificates</li>
              <li> other requests</li>
              <li>jdsbvdbjvh</li>
              <li>fees refund</li>
           </ul>
         </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>


      <div class="col-md-2">
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-text card-header-info">
            <h4 class="card-title text-center">Scholarship Section</h4>
          </div>
          <div class="card-body">
           <ul>
              <li> some certificates</li>
              <li> other requests</li>
              <li>jdsbvdbjvh</li>
              <li>fees refund</li>
           </ul>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-text card-header-info">
            <h4 class="card-title text-center">Administrative Department</h4>
          </div>
          <div class="card-body">
            <ul>
              <li> some certificates</li>
              <li> other requests</li>
              <li>jdsbvdbjvh</li>
              <li>fees refund</li>
           </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

  </body>
</html>